<div class="hq-enterpage">
  <div class="bs-component">
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="enterpage.home">Home</a></li>
          <li><a ui-sref="enterpage.whatsnew">What's new</a></li>
          <li><a class="btn btn-primary" ui-sref="enterpage.login">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="hq-nested-view" ui-view></div>
  <div class="test">
  </div>
</div>
