<div class="hq-create-workflow-graph">
  <hq-graph hq-nodes="nodes" hq-edges="edges">
    <hq-graph-component-properties></hq-graph-component-properties>
    <hq-graph-board preview="true"></hq-graph-board>
  </hq-graph>
</div>
<div class="hq-create-workflow-basic-data col-lg-4">
  <form class="form-horizontal">
      <div class="form-group">
        <div class="col-lg-4">
          <button class="btn btn-danger width-150" ng-click="goToFirstStep()"><i class="fa fa-arrow-left"></i> Back</button>
          <button class="btn btn-danger width-150" ng-click="create()"><i class="fa fa-save"></i> Create</button>
        </div>
      </div>
    </form>
</div>
